# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Generated Data
# ==========================
generated_attacks/
candidates/
features/
outputs/
models/

# ==========================
# Trained Models
# ==========================
*.pkl
*.joblib
*.bin